.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
venv
docs.zip
archive.zip
databaseFiles/Dataset
databaseFiles/tempFiles

# vim temporary files
*~
.*.sw?

uploadedImages
plasma-myth-365608-02f3f88329f7.json